@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@font-face {
  font-family: "GmarketSans.ttf";
  src: url("../public/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: "GmarketSans.ttf", Arial, Helvetica, sans-serif;
}
